[submodule "JMADF"]
	path = JMADF
	url = https://github.com/FangCunWuChang/JMADF.git
	branch = develop
[submodule "JUCE"]
	path = JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "Out/rc/third-party/RemixIcon"]
	path = Out/rc/third-party/RemixIcon
	url = https://github.com/Remix-Design/RemixIcon.git
